[user]
    email = pmkilcommons@gmail.com
    name = PKilcommons
    # On different machines this should be a different key but using the same naming convention.
    # When using a different git host for certain projects (e.g. Gitlab), this should be set on the repo `.git/config`
    signingkey = ~/.ssh/id_ed25519_github.pub
[color]
    ui = auto
[status]
    showStash = true

# For `git-delta`. See https://github.com/dandavison/delta
[core]
    pager = delta
    excludesfile = ~/.gitignore
[interactive]
    diffFilter = delta --color-only --features=interactive
[delta]
    navigate = true
    side-by-side = true
    syntax-theme = Monokai Extended
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[gpg]
    format = ssh
[commit]
    gpgsign = true
