[user]
    email = patrick.kilcommons@transigma.com
    name = PKilcommons
    signingkey = /home/gilgamesh/.ssh/id_ed25519_github.pub
[color]
    ui = auto
[core]
    editor = $HOME/neovim/bin/nvim
[status]
    showStash = true

# For `git-delta`. See https://github.com/dandavison/delta
[core]
    pager = delta
    excludesfile = /home/gilgamesh/.gitignore
[interactive]
    diffFilter = delta --color-only --features=interactive
[delta]
    navigate = true
    side-by-side = true
    syntax-theme = Monokai Extended
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[gpg]
    format = ssh
[commit]
    gpgsign = true
